/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

/* Common Styles */
body {
  font-family: "Poppins", sans-serif;
  background-color: #f3f1ff;
}
/* Top Players Style */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  background-color: #ffffff;
  width: 870px;
  padding: 30px;
  margin-top: 21px;
  border-radius: 5px;
}

hr {
  border: 1px solid #d1d1d1;
  margin-bottom: 27px;
}
.section-title {
  color: #562eff;
  font-size: 24px;
  margin-top: 3px;
}

.top-players {
  margin-bottom: 30px;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;
}
.player {
  display: flex;
  align-items: center;
}

.player img {
  width: 56px;
  height: 56px;
}

.player-name {
  margin-left: 16px;
  font-size: 18px;
}

/* Top-Blogs Styles */
.blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 26px;
}
.blog {
  display: flex;
}

.blog .thumbnail img {
  width: 177px;
  height: 117px;
}
.blog-info {
  margin-left: 16px;
}

.blog-title {
  font-size: 20px;
}

.blog-author {
  color: #9f9f9f;
  font-size: 16px;
}

.blog-author a {
  text-decoration: none;
  font-size: 16px;
  color: #562eff;
}

/* Courses Styles */
.courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.course .course-banner img {
  width: 224px;
  height: 104px;
}

.course-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.course-duration {
  background-color: #ffe4e8;
  border-radius: 15px;
  color: #ff4a60;
  /* padding: 3px; */
}
.fa-star {
  font-size: 12px;
}

.fa-star.filled {
  color: #ffc014;
}

.fa-star.empty {
  color: #aeaeae;
}
